.s-partners
	padding: 40px 0
	background: url(../../images/linen.png)
	text-align: center

	&__title
		margin-bottom: 1em
		font-size: 2em

	&__list
		@extends $container
		display: flex
		justify-content: space-between
		margin-bottom: 20px

	&__item
		width: 30%
