
.income-calculator
	@extends $container
	margin-top: 100px
	margin-bottom: 50px
	padding: 20px 0 40px
	border: 5px solid #FFF
	color: #FFF
	text-align: center

	&__title
		margin-bottom: 1em
		font-size: 1.8em
		text-shadow: 0 2px #166B8F
		font-weight: bold

	&__label
		display: inline-block
		max-width: 130px
		margin-right: 10px
		font-weight: bold
		vertical-align: middle

	&__button
		margin: 0 25px


	&__input

		input
			font-weight: bold
			font-size: 1.3em
			text-align: center
