.merits
	width: 45%
	margin-bottom: 10px

	&_large
		margin-bottom: 50px
		text-align: center

	&_large &__title
		display: block
		width: 350px
		margin: 0 auto 15px
		padding: 8px 0
		background: linear-gradient(90deg, #449FCE 0, #19699C 100%)
		color: #FFF
		font-size: 1.4em
		font-weight: bold

	&_large &__text
		line-height: 1.5


	b
		font-size: 1.8em
