.profit-grid
	display: table
	width: 100%
	height: 695px
	margin-top: 50px
	padding: 45px 0 0
	box-sizing: border-box
	background: url(../../images/profit-back.jpg) 50% 0 no-repeat
	color: #FFF
	line-height: 1.5

	&__container
		@extends $container
