.button
	border: 0
	background: none

	&_submit
		display: inline-block
		padding: 15px 15px
		border-radius: 7px
		box-shadow: 0 3px 0 #B18906
		background: linear-gradient(180deg, #FEE650 0, #FDC00D 100%)
		color: #000
		text-shadow: 0 1px #F3ED68
		font-weight: bold
		font-size: 1.1em

	&_upper
		text-transform: uppercase

	&_size_big
		font-size: 1.4em
		padding: 20px 40px
