.form-request
		text-align: center

		&__input
			display: inline-block
			margin-right: 10px

			& input
				width: 150px
				padding: 10px 10px
				border: 0
				border-radius: 5px
				text-align: center
				font-size: 1em

		&__button
			width: 350px
			vertical-align: middle
