.header__foundation
	display: inline-block
	margin-top: 20px
	padding: 5px 15px
	border: 3px solid #3C8FC5
	border-image: linear-gradient(0, #226EA8, #3C8FC5) 14% stretch
	font-size: 1.3em
	font-weight: bold
	color: #1C70AE
	text-transform: uppercase
