.client-who
	height: 700px
	padding: 30px 0
	text-align: center
	box-sizing: border-box
	background: url(../../images/client.jpg) 50% 0 no-repeat

	&__title
		margin-bottom: 1em
		font-size: 2em
		font-weight: bold
		color: #FFF

	&__cards
		@extends $container
