.profit
	@extends $container

	&__cols
		display: flex
		margin-bottom: 40px
		flex-wrap: wrap
		justify-content: space-between


	&__form
		padding: 20px
		border: 5px solid #449FCE
		border-image: linear-gradient(90deg, #449FCE, #19699C) 14% stretch
