.input
	display: inline-block

	&__control
		width: 100%
		padding: 8px 10px
		box-sizing: border-box
		border: 0
		box-shadow: inset 0 1px 1px #555

	&_align_center &__control
		text-align: center

	&_rounded &__control
		border-radius: 5px

	&_size_s
		width: 160px
