/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_name = 'arrow';
$arrow_x = 416px;
$arrow_y = 134px;
$arrow_offset_x = -416px;
$arrow_offset_y = -134px;
$arrow_width = 25px;
$arrow_height = 25px;
$arrow_total_width = 493px;
$arrow_total_height = 457px;
$arrow_image = '../../images/sprite.png';
$arrow = 416px 134px -416px -134px 25px 25px 493px 457px '../../images/sprite.png' 'arrow';
$b2_name = 'b2';
$b2_x = 65px;
$b2_y = 340px;
$b2_offset_x = -65px;
$b2_offset_y = -340px;
$b2_width = 66px;
$b2_height = 67px;
$b2_total_width = 493px;
$b2_total_height = 457px;
$b2_image = '../../images/sprite.png';
$b2 = 65px 340px -65px -340px 66px 67px 493px 457px '../../images/sprite.png' 'b2';
$b4_name = 'b4';
$b4_x = 0px;
$b4_y = 340px;
$b4_offset_x = 0px;
$b4_offset_y = -340px;
$b4_width = 65px;
$b4_height = 69px;
$b4_total_width = 493px;
$b4_total_height = 457px;
$b4_image = '../../images/sprite.png';
$b4 = 0px 340px 0px -340px 65px 69px 493px 457px '../../images/sprite.png' 'b4';
$b5_name = 'b5';
$b5_x = 264px;
$b5_y = 340px;
$b5_offset_x = -264px;
$b5_offset_y = -340px;
$b5_width = 70px;
$b5_height = 57px;
$b5_total_width = 493px;
$b5_total_height = 457px;
$b5_image = '../../images/sprite.png';
$b5 = 264px 340px -264px -340px 70px 57px 493px 457px '../../images/sprite.png' 'b5';
$b6_name = 'b6';
$b6_x = 195px;
$b6_y = 340px;
$b6_offset_x = -195px;
$b6_offset_y = -340px;
$b6_width = 69px;
$b6_height = 58px;
$b6_total_width = 493px;
$b6_total_height = 457px;
$b6_image = '../../images/sprite.png';
$b6 = 195px 340px -195px -340px 69px 58px 493px 457px '../../images/sprite.png' 'b6';
$black_list_name = 'black-list';
$black_list_x = 287px;
$black_list_y = 74px;
$black_list_offset_x = -287px;
$black_list_offset_y = -74px;
$black_list_width = 57px;
$black_list_height = 65px;
$black_list_total_width = 493px;
$black_list_total_height = 457px;
$black_list_image = '../../images/sprite.png';
$black_list = 287px 74px -287px -74px 57px 65px 493px 457px '../../images/sprite.png' 'black-list';
$black_print_name = 'black-print';
$black_print_x = 345px;
$black_print_y = 208px;
$black_print_offset_x = -345px;
$black_print_offset_y = -208px;
$black_print_width = 74px;
$black_print_height = 63px;
$black_print_total_width = 493px;
$black_print_total_height = 457px;
$black_print_image = '../../images/sprite.png';
$black_print = 345px 208px -345px -208px 74px 63px 493px 457px '../../images/sprite.png' 'black-print';
$blue_calendar_name = 'blue-calendar';
$blue_calendar_x = 444px;
$blue_calendar_y = 373px;
$blue_calendar_offset_x = -444px;
$blue_calendar_offset_y = -373px;
$blue_calendar_width = 35px;
$blue_calendar_height = 35px;
$blue_calendar_total_width = 493px;
$blue_calendar_total_height = 457px;
$blue_calendar_image = '../../images/sprite.png';
$blue_calendar = 444px 373px -444px -373px 35px 35px 493px 457px '../../images/sprite.png' 'blue-calendar';
$blue_dollar_name = 'blue-dollar';
$blue_dollar_x = 300px;
$blue_dollar_y = 196px;
$blue_dollar_offset_x = -300px;
$blue_dollar_offset_y = -196px;
$blue_dollar_width = 41px;
$blue_dollar_height = 41px;
$blue_dollar_total_width = 493px;
$blue_dollar_total_height = 457px;
$blue_dollar_image = '../../images/sprite.png';
$blue_dollar = 300px 196px -300px -196px 41px 41px 493px 457px '../../images/sprite.png' 'blue-dollar';
$blue_list_name = 'blue-list';
$blue_list_x = 246px;
$blue_list_y = 296px;
$blue_list_offset_x = -246px;
$blue_list_offset_y = -296px;
$blue_list_width = 35px;
$blue_list_height = 40px;
$blue_list_total_width = 493px;
$blue_list_total_height = 457px;
$blue_list_image = '../../images/sprite.png';
$blue_list = 246px 296px -246px -296px 35px 40px 493px 457px '../../images/sprite.png' 'blue-list';
$blue_wallet_name = 'blue-wallet';
$blue_wallet_x = 300px;
$blue_wallet_y = 237px;
$blue_wallet_offset_x = -300px;
$blue_wallet_offset_y = -237px;
$blue_wallet_width = 39px;
$blue_wallet_height = 40px;
$blue_wallet_total_width = 493px;
$blue_wallet_total_height = 457px;
$blue_wallet_image = '../../images/sprite.png';
$blue_wallet = 300px 237px -300px -237px 39px 40px 493px 457px '../../images/sprite.png' 'blue-wallet';
$flag_name = 'flag';
$flag_x = 287px;
$flag_y = 139px;
$flag_offset_x = -287px;
$flag_offset_y = -139px;
$flag_width = 30px;
$flag_height = 30px;
$flag_total_width = 493px;
$flag_total_height = 457px;
$flag_image = '../../images/sprite.png';
$flag = 287px 139px -287px -139px 30px 30px 493px 457px '../../images/sprite.png' 'flag';
$logo_name = 'logo';
$logo_x = 187px;
$logo_y = 0px;
$logo_offset_x = -187px;
$logo_offset_y = 0px;
$logo_width = 158px;
$logo_height = 74px;
$logo_total_width = 493px;
$logo_total_height = 457px;
$logo_image = '../../images/sprite.png';
$logo = 187px 0px -187px 0px 158px 74px 493px 457px '../../images/sprite.png' 'logo';
$ribbon_name = 'ribbon';
$ribbon_x = 0px;
$ribbon_y = 0px;
$ribbon_offset_x = 0px;
$ribbon_offset_y = 0px;
$ribbon_width = 187px;
$ribbon_height = 196px;
$ribbon_total_width = 493px;
$ribbon_total_height = 457px;
$ribbon_image = '../../images/sprite.png';
$ribbon = 0px 0px 0px 0px 187px 196px 493px 457px '../../images/sprite.png' 'ribbon';
$side1_name = 'side1';
$side1_x = 131px;
$side1_y = 340px;
$side1_offset_x = -131px;
$side1_offset_y = -340px;
$side1_width = 64px;
$side1_height = 63px;
$side1_total_width = 493px;
$side1_total_height = 457px;
$side1_image = '../../images/sprite.png';
$side1 = 131px 340px -131px -340px 64px 63px 493px 457px '../../images/sprite.png' 'side1';
$side2_name = 'side2';
$side2_x = 345px;
$side2_y = 0px;
$side2_offset_x = -345px;
$side2_offset_y = 0px;
$side2_width = 99px;
$side2_height = 63px;
$side2_total_width = 493px;
$side2_total_height = 457px;
$side2_image = '../../images/sprite.png';
$side2 = 345px 0px -345px 0px 99px 63px 493px 457px '../../images/sprite.png' 'side2';
$side3_name = 'side3';
$side3_x = 345px;
$side3_y = 134px;
$side3_offset_x = -345px;
$side3_offset_y = -134px;
$side3_width = 71px;
$side3_height = 74px;
$side3_total_width = 493px;
$side3_total_height = 457px;
$side3_image = '../../images/sprite.png';
$side3 = 345px 134px -345px -134px 71px 74px 493px 457px '../../images/sprite.png' 'side3';
$side4_name = 'side4';
$side4_x = 345px;
$side4_y = 271px;
$side4_offset_x = -345px;
$side4_offset_y = -271px;
$side4_width = 76px;
$side4_height = 61px;
$side4_total_width = 493px;
$side4_total_height = 457px;
$side4_image = '../../images/sprite.png';
$side4 = 345px 271px -345px -271px 76px 61px 493px 457px '../../images/sprite.png' 'side4';
$side5_name = 'side5';
$side5_x = 345px;
$side5_y = 63px;
$side5_offset_x = -345px;
$side5_offset_y = -63px;
$side5_width = 77px;
$side5_height = 71px;
$side5_total_width = 493px;
$side5_total_height = 457px;
$side5_image = '../../images/sprite.png';
$side5 = 345px 63px -345px -63px 77px 71px 493px 457px '../../images/sprite.png' 'side5';
$wh_aim_name = 'wh-aim';
$wh_aim_x = 444px;
$wh_aim_y = 101px;
$wh_aim_offset_x = -444px;
$wh_aim_offset_y = -101px;
$wh_aim_width = 48px;
$wh_aim_height = 48px;
$wh_aim_total_width = 493px;
$wh_aim_total_height = 457px;
$wh_aim_image = '../../images/sprite.png';
$wh_aim = 444px 101px -444px -101px 48px 48px 493px 457px '../../images/sprite.png' 'wh-aim';
$wh_best_name = 'wh-best';
$wh_best_x = 444px;
$wh_best_y = 149px;
$wh_best_offset_x = -444px;
$wh_best_offset_y = -149px;
$wh_best_width = 49px;
$wh_best_height = 46px;
$wh_best_total_width = 493px;
$wh_best_total_height = 457px;
$wh_best_image = '../../images/sprite.png';
$wh_best = 444px 149px -444px -149px 49px 46px 493px 457px '../../images/sprite.png' 'wh-best';
$wh_exclusive_name = 'wh-exclusive';
$wh_exclusive_x = 0px;
$wh_exclusive_y = 409px;
$wh_exclusive_offset_x = 0px;
$wh_exclusive_offset_y = -409px;
$wh_exclusive_width = 50px;
$wh_exclusive_height = 48px;
$wh_exclusive_total_width = 493px;
$wh_exclusive_total_height = 457px;
$wh_exclusive_image = '../../images/sprite.png';
$wh_exclusive = 0px 409px 0px -409px 50px 48px 493px 457px '../../images/sprite.png' 'wh-exclusive';
$wh_hitech_name = 'wh-hitech';
$wh_hitech_x = 182px;
$wh_hitech_y = 296px;
$wh_hitech_offset_x = -182px;
$wh_hitech_offset_y = -296px;
$wh_hitech_width = 64px;
$wh_hitech_height = 42px;
$wh_hitech_total_width = 493px;
$wh_hitech_total_height = 457px;
$wh_hitech_image = '../../images/sprite.png';
$wh_hitech = 182px 296px -182px -296px 64px 42px 493px 457px '../../images/sprite.png' 'wh-hitech';
$wh_mess_name = 'wh-mess';
$wh_mess_x = 444px;
$wh_mess_y = 195px;
$wh_mess_offset_x = -444px;
$wh_mess_offset_y = -195px;
$wh_mess_width = 47px;
$wh_mess_height = 47px;
$wh_mess_total_width = 493px;
$wh_mess_total_height = 457px;
$wh_mess_image = '../../images/sprite.png';
$wh_mess = 444px 195px -444px -195px 47px 47px 493px 457px '../../images/sprite.png' 'wh-mess';
$wh_money_name = 'wh-money';
$wh_money_x = 444px;
$wh_money_y = 0px;
$wh_money_offset_x = -444px;
$wh_money_offset_y = 0px;
$wh_money_width = 49px;
$wh_money_height = 49px;
$wh_money_total_width = 493px;
$wh_money_total_height = 457px;
$wh_money_image = '../../images/sprite.png';
$wh_money = 444px 0px -444px 0px 49px 49px 493px 457px '../../images/sprite.png' 'wh-money';
$wh_org_name = 'wh-org';
$wh_org_x = 444px;
$wh_org_y = 242px;
$wh_org_offset_x = -444px;
$wh_org_offset_y = -242px;
$wh_org_width = 44px;
$wh_org_height = 46px;
$wh_org_total_width = 493px;
$wh_org_total_height = 457px;
$wh_org_image = '../../images/sprite.png';
$wh_org = 444px 242px -444px -242px 44px 46px 493px 457px '../../images/sprite.png' 'wh-org';
$wh_partner_name = 'wh-partner';
$wh_partner_x = 334px;
$wh_partner_y = 340px;
$wh_partner_offset_x = -334px;
$wh_partner_offset_y = -340px;
$wh_partner_width = 70px;
$wh_partner_height = 50px;
$wh_partner_total_width = 493px;
$wh_partner_total_height = 457px;
$wh_partner_image = '../../images/sprite.png';
$wh_partner = 334px 340px -334px -340px 70px 50px 493px 457px '../../images/sprite.png' 'wh-partner';
$wh_quality_name = 'wh-quality';
$wh_quality_x = 444px;
$wh_quality_y = 49px;
$wh_quality_offset_x = -444px;
$wh_quality_offset_y = -49px;
$wh_quality_width = 45px;
$wh_quality_height = 52px;
$wh_quality_total_width = 493px;
$wh_quality_total_height = 457px;
$wh_quality_image = '../../images/sprite.png';
$wh_quality = 444px 49px -444px -49px 45px 52px 493px 457px '../../images/sprite.png' 'wh-quality';
$wh_trend_name = 'wh-trend';
$wh_trend_x = 444px;
$wh_trend_y = 288px;
$wh_trend_offset_x = -444px;
$wh_trend_offset_y = -288px;
$wh_trend_width = 48px;
$wh_trend_height = 42px;
$wh_trend_total_width = 493px;
$wh_trend_total_height = 457px;
$wh_trend_image = '../../images/sprite.png';
$wh_trend = 444px 288px -444px -288px 48px 42px 493px 457px '../../images/sprite.png' 'wh-trend';
$wh_wallet_name = 'wh-wallet';
$wh_wallet_x = 444px;
$wh_wallet_y = 330px;
$wh_wallet_offset_x = -444px;
$wh_wallet_offset_y = -330px;
$wh_wallet_width = 42px;
$wh_wallet_height = 43px;
$wh_wallet_total_width = 493px;
$wh_wallet_total_height = 457px;
$wh_wallet_image = '../../images/sprite.png';
$wh_wallet = 444px 330px -444px -330px 42px 43px 493px 457px '../../images/sprite.png' 'wh-wallet';
$y_arrow_name = 'y-arrow';
$y_arrow_x = 0px;
$y_arrow_y = 296px;
$y_arrow_offset_x = 0px;
$y_arrow_offset_y = -296px;
$y_arrow_width = 182px;
$y_arrow_height = 44px;
$y_arrow_total_width = 493px;
$y_arrow_total_height = 457px;
$y_arrow_image = '../../images/sprite.png';
$y_arrow = 0px 296px 0px -296px 182px 44px 493px 457px '../../images/sprite.png' 'y-arrow';
$y1_name = 'y1';
$y1_x = 0px;
$y1_y = 196px;
$y1_offset_x = 0px;
$y1_offset_y = -196px;
$y1_width = 100px;
$y1_height = 100px;
$y1_total_width = 493px;
$y1_total_height = 457px;
$y1_image = '../../images/sprite.png';
$y1 = 0px 196px 0px -196px 100px 100px 493px 457px '../../images/sprite.png' 'y1';
$y2_name = 'y2';
$y2_x = 187px;
$y2_y = 74px;
$y2_offset_x = -187px;
$y2_offset_y = -74px;
$y2_width = 100px;
$y2_height = 100px;
$y2_total_width = 493px;
$y2_total_height = 457px;
$y2_image = '../../images/sprite.png';
$y2 = 187px 74px -187px -74px 100px 100px 493px 457px '../../images/sprite.png' 'y2';
$y3_name = 'y3';
$y3_x = 200px;
$y3_y = 196px;
$y3_offset_x = -200px;
$y3_offset_y = -196px;
$y3_width = 100px;
$y3_height = 100px;
$y3_total_width = 493px;
$y3_total_height = 457px;
$y3_image = '../../images/sprite.png';
$y3 = 200px 196px -200px -196px 100px 100px 493px 457px '../../images/sprite.png' 'y3';
$y4_name = 'y4';
$y4_x = 100px;
$y4_y = 196px;
$y4_offset_x = -100px;
$y4_offset_y = -196px;
$y4_width = 100px;
$y4_height = 100px;
$y4_total_width = 493px;
$y4_total_height = 457px;
$y4_image = '../../images/sprite.png';
$y4 = 100px 196px -100px -196px 100px 100px 493px 457px '../../images/sprite.png' 'y4';
$spritesheet_width = 493px;
$spritesheet_height = 457px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $arrow $b2 $b4 $b5 $b6 $black_list $black_print $blue_calendar $blue_dollar $blue_list $blue_wallet $flag $logo $ribbon $side1 $side2 $side3 $side4 $side5 $wh_aim $wh_best $wh_exclusive $wh_hitech $wh_mess $wh_money $wh_org $wh_partner $wh_quality $wh_trend $wh_wallet $y_arrow $y1 $y2 $y3 $y4;
$spritesheet = 493px 457px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
